---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '.*(engine|games|tests)/'
FormatStyle: file
...
